<%= form_for(@user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "Password" %>
    <%= form.text_field :password %>
  </div>


  <div class="field">
    <%= form.label "Roles Names:" %>
    <% @roles.each do |role| %>
      <%= check_box_tag 'role_ids[]', role.id %>
      <%= role.role_name %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label "Permissions Names:" %>
    <% @permissions.each do |permission| %>
      <%= check_box_tag "permission_ids[]", permission.id%>
      <%= permission.permission_name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
